* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", Helvetica, sans-serif;
    background: linear-gradient(
            rgba(225, 225, 225, .1),
            rgba(225, 225, 225, .1)
    ),
    url(https://s13.postimg.org/c3qwsedk7/brick_1837112_1920.jpg);
    width: 100%;
}

#outerTable {
    width: 80%;
    margin: auto;
}

td {
    text-align: center;
}

#wrapperTable {
    width: 100%;
}

#productTable {
    table-layout: fixed;

}

#leftTD {
    width: 80%;
    padding-top: 2px;
    padding-bottom: 2px;
}

#rightTD {
    min-width: 20%;
    background-color: rgb(225, 225, 225);
}

#Greg {
    width: 100%;
}

#rightBottomFixedDiv {
    position: fixed;
    right: 10.2%;
    left: 74%;
    bottom: -10px;
    margin-top: 5px;
    z-index: 1;
}

#rightTopFixedDiv {
    position: fixed;
    right: 10.2%;
    left: 74%;
    top: 4px;
    border: 3px solid goldenrod;
    color: white;
    background: url("https://s27.postimg.org/9gs5pyyg3/cartbg.jpg");
    height: auto;
    z-index: 2;
}

div.pdiv {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding-bottom: 55px;
    background-color: rgba(225, 225, 225, .8);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid darkslategray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}

table.ptable {
    table-layout: fixed;
    width: 100%;
}

tr.pTR {
    width: 100%;
}

td.pTD {
    width: 100%;
    vertical-align: top;
    horiz-align: center;
}

td.pTD1 {
    max-width: 50%;
}

#gregSays {
    margin-top: 10px;
    padding: 5px;
    position: fixed;
    right: 10.2%;
    left: 74%;
}

#gregP {
padding-top: 5px;
}

#idTRID {
    visibility: collapse;
}

#dTRID {
    visibility: collapse;
}

#total {
    width: 100%;
}

div.pdiv:hover #dTRID {
    visibility: visible;
    transition-delay: .5s;
}

div.pdiv:hover {
    padding-bottom: 100px;
    transition: all 1s;
}

#outerWrapperTable {
    width: 100%;
}

#outerInnerWrapperception {
    width: 100%;
}

tr.wrapperTR {
    width: 100%;
    background-color: rgb(225, 225, 225);
    height: 50px;
}

td.wrapperTD {
    width: 100%;
}

#outerDiv {
    text-align: left;
    width: 73.7%;
    margin: 0 auto;
}