* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
    background-color: rgb(225, 225, 225);
}

td {
    text-align: center;
}

#productTable {
    table-layout: fixed;
    width: 100%;
}

table {

}

#titleTR {

}

#titleTD {

}

#leftTD {
    width: 80%;
    border: 1px solid red;
    padding: 2px;
}

#rightTD {
    min-width: 20%;
    border: 1px solid blue;
}

#Greg {
    width: 100%;
}

#rightBottomFixedDiv {
    position: fixed;
    right: 10.2%;
    left: 74%;
    bottom: 0;
}

#rightTopFixedDiv {
    position: fixed;
    right: 10.2%;
    left: 74%;
    top: 0;
    border: 1px solid gold;
    height: auto;
}

#leftWrapperTR {

}

div.pdiv {
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 1px solid yellow;
    padding-bottom: 100px;
}

table.ptable {
    table-layout: fixed;
    width: 100%;
}

tr.pTR {
    width: 100%;
}

td.pTD {
    width: 100%;
    vertical-align: top;
    horiz-align: center;
}

#gregSays {
    position: relative;
    top: 30px;
    border: 1px solid blue;
    width: 100%;
    vertical-align: top;
}

#gregP {

}